*{
    margin: 0px;
    padding: 0px;
}
body, html{
    height: 100%;
}
body{
    background: url(../assets/ciudad.jpg) repeat;
    background-size: cover;
}
.centrar{
    width: 960px;
    margin: 0 auto;
    box-shadow: 0px 0px 54px 5px #000;
    height: 100%;
    position: relative;
}
a{
    color: #fff;
    text-decoration: none;
}
nav.menu{
    background: url(../assets/pleca.png) no-repeat scroll right top #000;
    height: 111px;
}
nav.menu ul{
    position: absolute;
    top: 25px;
    left: 685px;
    width: 280px;
}
nav.menu ul li{
    display: inline-block;
    font-family: "Advent Pro";
    font-size: 12px;
    padding: 7px 21px;
}
nav.home{
     background: url(../assets/pleca.png) no-repeat scroll right;
     position: absolute;
     height: 70px;
     width: 100%;
}
img.muestra{
    padding: 34px;
    width: 75%;
}
img.logoChariot{
    padding: 30px;
}
img.claseImg{
    width: 69%;
    padding: 41px;
}
section.home{
    background: url(../assets/fondo_fusion1.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-size: cover;
}
section.home img{
    position: absolute;
    left: 154px;
    top: 54px;
    width: 25%
} 
section.home p{
    width: 361px;
    height: 72px;
    padding: 179px 50px 52px;
    padding-bottom: 52px;
    font-size: 16px;
    font-family: "advent pro";
    color: #000;
    line-height: 30px;
    font-weight: 100;
}
section a.boton1{
    color: #FFFFFF;
    font-size: 14px;
    font-family: "Alegreya Sans SC";
    font-weight: bold;
    border:2px solid #8A0829;
    padding:10px 50px; 
    width:300px;
    border-radius:10px; 
    background-image: -moz-linear-gradient(#8A0829, #FF0040);
    background-image: -webkit-linear-gradient(#8A0829, #FF0040);
    background-image: -o-linear-gradient(#8A0829, #FF0040);
    text-decoration: none;
    margin-left: 116px;
}
section.servicios {
    background: url(../assets/2_jetta.jpg) no-repeat scroll 0% 0% transparent;
}
section.servicios h1{
    color: #FFFFFF;
    font-size: 43px;
    font-family: "advent pro";
    font-weight: 100;
    margin-left: 30px;
    text-shadow: -18px 35px #585858; 
    letter-spacing: 7px;  
}
section.servicios h1 span{
    border-right: 4px #6DC9C4 solid;
    padding-bottom: 33px;
}
ul.imagenes{
    background: rgba(0,0,0,0.5);
    height: 207px;
    margin-top: 324px;
}
ul.imagenes li{
    width: 195px;
    display: inline-block;
    padding-left: 28px;
}
ul.imagenes li img.servicio{
    height: 166px;
    padding: 20px 32px;
}
ul.imagenes li a{
    display: inline-block;
    font-family: "Alegreya Sans SC";
    font-size: 14px;
    text-align: center;
    height: 200px;
    position: relative
}
ul.imagenes li span{
    width: 162px;
    height: 33px;
    display: inline-block;
    position: absolute;
    margin-bottom: 14px;
    bottom: 0;
    z-index: 1;
    left: 32px;
    background: #000000;
    opacity: 0.7;
    border-right: 4px #6DC9C4 solid;
    padding-top: 26px;
}
section.head{
    display: block;
    width: 100%;
    height: 98px;
    background: #000000;
    position: relative;
} 
section.head img#logo{
    position: absolute;
    top: 23px;
    left: 154px;
}
section.head nav{
    position: absolute;
    right: 0;
    top: 0;
    color: #ffffff;
    background: url(../assets/pleca.png) no-repeat top right;
    height: 58px;
    width: 295px;

}
section.head nav ul{
    list-style-type: none;
    position: absolute;
    top: 25px;
    left: 18px;
    width: 280px;
}
section.head nav ul li{
    display: inline-block;
    font-family: "Advent Pro";
    font-size: 12px;
    padding: 7px 21px; 
}

section.encabezado-1{
    height: 190px;
    width: 960px;
    position: relative;
    background: #EC5967;
}
section.encabezado-1 div.info{
    background: url(../assets/cuadro.png)no-repeat;
    width: 579px;
    height: 189px;
    position: absolute;
    z-index: 2;/*  z-index son mis layers en css  */
}
section.encabezado-1 div.imagen{
    overflow: hidden;
    width: 506px; 
    height: 175px;
    top: -1px;
    position: relative;
    background: url(../assets/jetta.png)no-repeat;
    margin-left: 455px;
    z-index: 1;
}
section.encabezado-1 div h1{
    height: 28px;
    font-family: "Advent Pro";
    font-weight: 100;
    font-size: 42px;
    color: #ffffff;
    position: absolute;
    left: 95px;
    top: 16px;
    text-transform: capitalize;

}
section.encabezado-1 div h4{
    height: 17px;
    font-family: "Advent Pro";
    font-weight: 100;
    font-size: 24px;
    color: #ffffff;
    position: absolute;
    top: 108px;
    left: 25px;
}
section.encabezado-1 div h4 span{
    font-size: 36px;
    padding-left: 30px;
}


section.cuerpo {
    position: relative;
    width: 960px;
    height: 804px;
    color: #000000;
    background: url(../assets/fondo.jpg);
    overflow: auto;
}
section.cuerpo ul{
    list-style-type: none;
    position: absolute;
    top: 85px;
    left: 37px;
}
section.cuerpo ul li{
    display: inline-block;
    font-size: 22px;
    font-family: "Advent Pro";
    font-weight: 100;
    color: #ffffff;
    background-color: #C5E8EF;
    border-radius: 0px 0px 15px 15px;
    width: 278px;
    height: 316px;
    margin-right: 22px;
    overflow: hidden;
    margin-top: 24px;
}
section.cuerpo ul li span{
    background-color: #76CDD4;
    border-radius: 0px 0px 15px 15px;
    padding: 10px 23px;
    width: 115px;
    height: 27px;
    margin: 58px;
    display: block;
    margin: 0 auto;
    text-align: center;
}
section.head{
    display: block;
    width: 100%;
    height: 98px;
    background: #000000;
    position: relative;
} 
section.head img#logo{
    position: absolute;
    top: 23px;
    left: 154px;
}
section.head nav{
    position: absolute;
    right: 0;
    top: 0;
    color: #ffffff;
    background: url(../assets/pleca.png) no-repeat top right;
    height: 58px;
    width: 295px;

}
section.head nav ul{
    list-style-type: none;
    position: absolute;
    top: 25px;
    left: 18px;
    width: 280px;
}
section.head nav ul li{
    display: inline-block;
    font-family: "Advent Pro";
    font-size: 12px;
    padding: 7px 21px; 
}
section.encabezado{
    height: 190px;
    width: 960px;
    position: relative;
    background: #EC5967;
}
section.encabezado div.info{
    background: url(../assets/cuadro.png);
    width: 579px;
    height: 174px;
    position: absolute;
    z-index: 2;/*  z-index son mis layers en css  */
}
section.encabezado div.imagen{
    overflow: hidden;
    width: 506px;
    height: 175px;
    top: -1px;
    right: 0;
    position: relative;
    background: url(../assets/jetta.png);
    margin-left: 455px;
    z-index: 1;
}
section.encabezado div h1{
    height: 28px;
    font-family: "Advent Pro";
    font-weight: 100;
    font-size: 42px;
    color: #ffffff;
    position: absolute;
    left: 95px;
    top: 15px;

}
section.encabezado div h4{
    width: 243px;
    height: 17px;
    font-family: "Advent Pro";
    font-weight: 100;
    font-size: 24px;
    color: #ffffff;
    position: absolute;
    top: 116px;
    left: 25px;
}
section.encabezado div h4 span{
    font-size: 36px;
    padding-left: 30px;
}
section.auto{
    background: url(../assets/img_jetta.png) no-repeat top left;
    background-color: #fff;
    width: 470px;
    height: 309px;
}
section.auto div{
    background: url(../assets/header.jpg) top right;   
    width: 491px;
    height: 300px;
    margin-left: 469px;
    padding-top: 15px;
}
section.auto ul{
    background: #C5E8EF top right;
    opacity: 0.8;
    width: 377px;
    height: 228px;
    border-radius: 15px 0px 0px 15px;
    padding: 20px 22px 11px;
    list-style: none;
    margin: 8px 0px 19px 71px
}
section.auto li{
    font-size: 24px;
    font-family: "Advent Pro";
    font-weight: 100;
    color: #ffffff;
    padding: 0px 0px 0px 7px;
    background-color: #0C6363;
    border-radius: 15px;
    width: 350px;
    height: 58px;
    margin: 11px 11px;
}
section.auto li span{
    margin-left: 17px;
    font-size: 48px;
}
section.icon{
    background: #EC5967;
    width: 960px;
}
section a.boton{
    color: #FFFFFF;
    font-size: 14px;
    font-family: "Alegreya Sans SC";
    font-weight: ;
    padding:10px 50px; 
    width:300px;
    border-radius:10px; 
    background-image: -moz-linear-gradient(#8A0829, #FF0040);
    background-image: -webkit-linear-gradient(#8A0829, #FF0040);
    background-image: -o-linear-gradient(#8A0829, #FF0040);
    text-decoration: none;
    margin-left: 624px;


}
section ul.informes{
    background: #CB2027 top left;
    width: 214px;
    height: 665px;
    margin-top: 4px;
    list-style-type: none;
}
section ul.informes li{
    text-align: center;
    font-family: "Advent Pro";
    font-size: 21px;
    font-weight: 100;
    color: #ffffff;
    padding-top: 100px;
    width: 143px;
    margin-left: 32px;
}
div.texto{
    background-color: #fff;
}
div.contenedor{
    background: #EC5967;
    width: 960px;
    height: 22px;
}
section.head{
    display: block;
    width: 100%;
    height: 98px;
    background: #000000;
    position: relative;
} 
section.head img#logo{
    position: absolute;
    top: 23px;
    left: 154px;
}
section.head nav{
    position: absolute;
    right: 0;
    top: 0;
    color: #ffffff;
    background: url(../assets/pleca.png) no-repeat top right;
    height: 58px;
    width: 295px;

}
section.head nav ul{
    list-style-type: none;
    position: absolute;
    top: 25px;
    left: 18px;
    width: 280px;
}
section.head nav ul li{
    display: inline-block;
    font-family: "Advent Pro";
    font-size: 12px;
    padding: 7px 21px; 
}
section.encabezado{
    height: 191px;
    width: 960px;
    position: relative;
    background: #EC5967;
}
section.encabezado div.info {
    background: url(../assets/cuadro.png);
    width: 579px;
    height: 174px;
    position: absolute;
    z-index: 2;/*  z-index son mis layers en css  */
}
section.encabezado div.info img{
    height: 200px;
}
section.encabezado-1 div.imagen{
    overflow: hidden;s
    top: 0;
    right: 0;
    position: relative;
    background: url(../assets/jetta.png);
    height: 174px;
}
section.encabezado div h1{
    width: 288px;
    height: 28px;
    font-family: "Advent Pro";
    font-weight: 100;
    font-size: 42px;
    color: #ffffff;
    position: absolute;
    left: 95px;
    top: 17px;

}
section.encabezado div h4{
    height: 17px;
    font-family: "Advent Pro";
    font-weight: 100;
    font-size: 24px;
    color: #ffffff;
    position: absolute;
    top: 116px;
    left: 25px;
    width:248px;
}
section.encabezado div h4 span{
    font-size: 36px;
    padding-left: 30px;
}
section.encabezado .contacto img{
    margin-left: 461px;
    height: 173px;
    padding: 0px;
}
section.direccion{
    background-color: #9F9B9C;
    height: 312px;
}
section.direccion img{
    margin-left: 455px;
    margin-top: 12px;
    width: 50%;
}
section.direccion p{
    width: 311px;
    height: 0px;
    font-family: "Advent Pro";
    font-size: 21px;
    line-height: 57px;
    padding: 21px 0px 0px 70px;
    color: #fff;
    letter-spacing: 2px;
}
section.icon-contacto{
    width: 960px;
    height: 179px;
    background-color: #CB2027;
    padding-top: 12px;
}
section.icon-contacto ul{
    width: 960px;
    height: 59px;
}
section.icon-contacto li {
    display: inline-block;
    font-family: "Advent Pro";
    font-size: 14px;
    color: #fff;
    padding: 12px 0px 3px 95px;
    width: 327px;
    letter-spacing: 1px;
}
section.icon-contacto li img{  
    float: left;
    margin: -10px 25px 32px -25px;
}
section.icon-contacto span{
    display: block;
    letter-spacing: 1px;
    padding: 4px;
}
article.contenido{
    position: absolute;
    left: 300px;
    font-size: 20px;
    font-family: sans-serif;
    top: 700px;
}
#borde-blanco{
    border: 1px #fff solid;
    padding-bottom: 2px;
}
.color{
    width: 960px;
    height: 15px;
    background: #EC5967;
}
footer{
    background: #ffffff;
    text-align: center;
}
footer ul{
    width: 432px;
    height: 125px;
    background: #C52026 url(../assets/face_twi.png) no-repeat center left;
    float: left;
}
footer ul li{
    position: relative;
    font-family: sans-serif;
    font-weight: 100; 
    letter-spacing: 1px; 
    list-style: none;
    margin: 34px 0px 0px 200px;
}
footer cite{
    background:#d84456 url(../assets/pleca_pico.png) no-repeat top left;
    padding-bottom: 22px;
    display: block;
    width: 419px;
    float: left;
    padding-left: 109px;
}
footer cite div {
    font-family: "advent pro";
    font-size: 21px;
    font-weight: 100;
    color: #ffffff;
    letter-spacing: 1px; 
    font-style: normal;
    width: 351px;
    padding-top: 23px;
    margin-left: 20px;
    line-height: 40px;
}
footer div {
    clear: both;
    padding-top: 19px;
}
footer p{
    border-top: 3px #C52026 solid;
    width: 385px;
    font-size: 11px;
    padding: 9px 0px 9px 0px;
    font-family: "Alegreya Sans SC";
    margin: 0 auto;
}
footer .color{
    background: #000;
}