<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="css/bootstrap-theme.css">
		<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	</head>
	<body>
		<div class="container">
			<h3>REQUISITOS</h3>
			<form role="form">
  				<div class="form-group">
    				<label for="exampleInputEmail1">Ife o identificación oficial.</label>
    				<input type="email" class="form-control" id="exampleInputEmail1" placeholder="identificación oficial">
  				</div>
 				<div class="form-group">
   					<label for="exampleInputPassword1">Itinerario para cotizar.</label>
    				<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Itinerario">
  				</div>
  				<div class="form-group">
    				<label for="exampleInputFile">Adjuntar</label>
    				<input type="file" id="exampleInputFile">
  				</div>
			</form>
			<h3>RENTA DE CAMIONETAS</h3>
			<select class="form-control">
  				<option>Mercedez Benz Sprinter 17-20 pasajeros</option>
  				<option>VW Crafter 19 pasajeros</option>
			</select>
  			<h3>RENTA DE AUTOBÚSES</h3>
  			<select class="form-control">
  				<option>Oisa</option>
  				<option>F12</option>
  				<option>Mercedez Benz Marcopolo</option>
  				<option>Man City Liner</option>
  				<option>Volvo</option>
  				<option>Mercedez Benz Multego</option>
  				<option>Irizar Century</option>
  				<option>Irizar PB</option>
			</select>
			<div class="radio">
				<label>
					<input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
					costo p/día
				  </label>
			</div>
			<div class="radio">
				<label>
				   <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
				   costo p/semana
				  </label>
			</div>
			<div class="form-group">
    				<p class="help-block">Garantía con tarjeta de crédito o efectivo 8 mil.</p>
  			</div>
			<button type="submit" class="btn btn-default">Submit</button>
		</div>
	</body>
</html>