<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="css/bootstrap-theme.css">
		<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	</head>
	<body>
		<div class="container">
			<h2>TECOLUTLA VERACRUZ</h2>
			<h3>REQUISITOS</h3>
			<form role="form">
  				<div class="form-group">
    				<label for="exampleInputEmail1">Ife o identificación oficial.</label>
    				<input type="email" class="form-control" id="exampleInputEmail1" placeholder="identificación oficial">
  				</div>
 				<div class="form-group">
   					<label for="exampleInputPassword1">Itinerario o lugares de visita.</label>
    				<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Itinerario">
  				</div>
  				<div class="form-group">
    				<label for="exampleInputFile">Adjuntar</label>
    				<input type="file" id="exampleInputFile">
  				</div>
			</form>
			<h3>RENTA DE CAMIONETAS</h3>
			<select class="form-control">
				<option value_"$11,500.00">Journey o Voyager 8 pasajeros</option>
				<option value_"$12,500.00">Express Van de 12 o 15 pasajeros</option>
  				<option value_"$13,500.00">Mercedez Benz Sprinter 17-20 pasajeros</option>
  				<option value_"$13,500.00">VW Crafter 19 pasajeros</option>
			</select>
  			<h3>RENTA DE AUTOBÚSES</h3>
  			<select class="form-control">
  				<option value_"$17,500.00">Oisa</option>
  				<option value_"$17,500.00">F12</option>
  				<optionvalue_"$18,500.00">Mercedez Benz Marcopolo</option>
  				<option value_"$18,500.00">Man City Liner</option>
  				<option value_"$19,500.00">Volvo</option>
  				<option value_"$21,500.00">Mercedez Benz Multego</option>
  				<option value_"$21,500.00">Irizar Century</option>
  				<option value_"$23,500.00">Irizar PB</option>
			</select>
			<h3>HOTELES 3 A 4 ESTRELLAS</h3>
			<div class="radio">
				<label>
					<input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
					Real del mar $850.00
				  </label>
			</div>
			<p>Temporada Baja, condiciones y costos por noche:</p>
			<div class="radio">
				<label>
					<input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
					Vista al mar $1,100.00
				  </label>
			</div>
			<div class="radio">
				<label>
					<input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
					Balcon $1,050.00
				  </label>
			</div>
			<div class="radio">
				<label>
					<input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
					Vista interina $1,000.00
				  </label>
			</div>
      <div class="form-group">
            <p class="help-block">Garantía con tarjeta de crédito o efectivo 8 mil.</p>
            <p class="help-block">Apertura con $4000 Temporada baja</p>
            <p class="help-block">Apertura con $8000 Temporada alta o media</p>
          </div>
      <button type="submit" class="btn btn-default">Submit</button>
		</div>
	</body>
</html>