<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="css/bootstrap-theme.css">
		<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	</head>
	<body>
		<div class="container">
			<h3>REQUISITOS</h3>
			<form role="form">
  				<div class="form-group">
    				<label for="exampleInputEmail1">Ife o identificación oficial.</label>
    				<input type="email" class="form-control" id="exampleInputEmail1" placeholder="identificación oficial">
  				</div>
 				<div class="form-group">
   					<label for="exampleInputPassword1">Comprobante de domicilio.</label>
    				<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Domicilio">
  				</div>
          <div class="form-group">
            <label for="exampleInputFile">Adjuntar</label>
            <input type="file" id="exampleInputFile">
          </div>
			</form>
			<h3>AUTOS P/ RENTA DIARIA</h3>
			<select class="form-control">
  				<option>Chevrolet Spark, Nissan March</option>
  				<option>Chevrolet Aveo, Ford Fiesta Ikon</option>
  				<option>Hynday Attitude, Vw Jetta Clasico</option>
	  			<option>Jetta Bicentenario, Chevrolet Cruze, Nissan Sentra</option>
  				<option>Journey, Town & Country</option>
  				<option>Suburban</option>
  				<option>Chevrolet Express Van, Ford Econoline, Hyunday h100</option>
  				<option>Chevrolet Express Van, Hiace Toyota</option>
			</select>
			<div class="radio">
				<label>
					<input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
					costo p/día
				  </label>
			</div>
			<div class="radio">
				<label>
				   <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
				   costo p/semana
				  </label>
			</div>
      <div class="form-group">
            <p class="help-block">Garantía con tarjeta de crédito o efectivo 8 mil.</p>
          </div>
      <button type="submit" class="btn btn-default">Submit</button>
		</div>
	</body>
</html>